[submodule ".submodules/dracula/micro"]
    path = .submodules/dracula/micro
    url = https://github.com/dracula/micro.git
[submodule ".submodules/nano/highlighting"]
    path = .submodules/nano/highlighting
    url = https://github.com/scopatz/nanorc.git
[submodule ".submodules/dracula/alacritty"]
	path = .submodules/dracula/alacritty
	url = https://github.com/dracula/alacritty.git
[submodule ".submodules/tmux/tpm"]
	path = .submodules/tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".submodules/dracula/wezterm"]
	path = .submodules/dracula/wezterm
	url = https://github.com/dracula/wezterm.git
[submodule ".submodules/zsh/zsh-syntax-highlighting"]
	path = .submodules/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".config/micro/plug/lsp"]
	path = .config/micro/plug/lsp
	url = https://github.com/AndCake/micro-plugin-lsp
