include "/usr/share/nano/*.nanorc"
include "/usr/share/nano/extra/*.nanorc"
include "/usr/share/nano-syntax-highlighting/*.nanorc"

set autoindent
set magic
set linenumbers
set positionlog
set regexp
set smarthome
set softwrap
set atblanks
set tabsize 4
set tabstospaces
set mouse
set nohelp
